* {
        font-family: "PingFang SC", "Source Han Sans", "Microsoft YaHei", "Noto Sans CJK", "system-ui", sans-serif;
        color: #333333;
}
body {
        padding-top: 30px;
        margin-top: 0px;
}
.online-book-title {
        display: none;
}
.layout-head {
        display: none;
}
.dotted-border {
        border-style: none;
}
.article-tit {
        border-style: none;
        font-size: 42px;
        margin: 0;
        padding: 0;
}
.main {
        width: 100%;
}
.side {
        position: relative;
        width: 280px;
        height: 100vh;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: auto;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}
.side:hover {
        opacity: 1;
}
.side li a {
        font-size: 15px;
        color: #4f5959
}
.side li a:active {
        font-size: 15px;
        color: #273849
}
.book-nav {
        padding-left: 20px
}
.float_view {
        display: none;
}
#footer {
        display: none;
}
#toTop {
        display: none;
}
ul {
        font-size: 18px;
        font-weight: 400;
        padding-inline-start: 40px;
        margin: 18px 36px 24px 0px;
}
#article table {
        border-style: none;
        border-top: 2px solid #666666;
        border-bottom: 2px solid #666666;
        width: 100%;
        margin: 10px 0px;
}
#article table tr {
        background: transparent;
}
#article table th {
        color: #333333;
        background: transparent;
        text-align: center;
        font-weight: 500;
        border-style: none;
        border-bottom: 1px solid #666666;
}
#article table td {
        font-weight: 400;
        color: #333333;
        border-style: none;
        padding-left: 2em;
}
#article blockquote:first-child {
        border-style: none;
        font-weight: 400;
        padding: 0;
        margin: 24px;
}
#article blockquote {
        border: 2px solid #666666;
        border-radius: 4px;
        font-weight: 400;
        padding: 10px;
        margin: 24px;
}
#article blockquote p {
        text-indent: 0;
        margin: 0;
}
#article blockquote p strong {
        font-weight: 600;
}
p {
        text-indent: 2em;
        font-weight: 400;
        font-size: 18px;
}
li p:first-child {
        text-indent: 0;
}
li ul {
        padding-inline-start: 0;
}
#article ol {
        font-size: 18px;
        font-weight: 500;
        list-style-position: inside;
        margin: 0;
}
#article ol li p:first-child {
        display: inline;
}
code {
        color: #333333;
        font-family: "SF Mono", "Source Han Sans HW", monospace;
        font-size: 18px;
        background-color: transparent;
}
h3 code {
        font-size: 24px;
}
pre code span {
        font-family: "SF Mono", "Source Han Sans HW", monospace;
        font-size: 16px;
}
#article p strong {
        font-weight: 500;
        color: #333333;
}
#article p strong code {
        font-weight: 500;
}
#article .prettyprint {
        padding: 20px 25px;
        background: #f8f8f8;
        border-style: none;
        border-radius: 2px;
}
#article h2 {
        font-family: "PingFang SC", "Source Han Sans", "Microsoft YaHei", "Noto Sans CJK", "system-ui", sans-serif;
        font-size: 28px;
        color: #333333;
}
#article h3 {
        font-family:" PingFang SC"," Source Han Sans"," Microsoft YaHei"," Noto Sans CJK"," system-ui",sans-serif;
        font-size: 24px;
        color: #333333;
} 

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint{
    background:#2f3640!important;
    font-family:"Menlo","Bitstream Vera Sans Mono","DejaVu Sans Mono","Monaco","Consolas",monospace;
    border:0!important
}
.pln{
    color:#e6e9ed
}
ol.linenums{
    margin-top:0;margin-bottom:0;color:#656d78
}
li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{
    padding-left:1em;background-color:#2f3640;list-style-type:decimal
}
@media screen{
    .str{
        color:#ffce54
    }
        .kwd{
        color:#4fc1e9
    }
        .com{
        color:#656d78
    }
        .typ{
        color:#4fc1e9
    }
        .lit{
        color:#ac92ec
    }
        .pun{
        color:#e6e9ed
    }
        .opn{
        color:#e6e9ed
    }
        .clo{
        color:#e6e9ed
    }
        .tag{
        color:#ed5565
    }
        .atn{
        color:#a0d468
    }
        .atv{
        color:#ffce54
    }
        .dec{
        color:#ac92ec
    }
        .var{
        color:#e6e9ed
    }
        .fun{
        color:#e6e9ed
    }
}