.online-book-title {
        display: none;
}
.layout-head {
        display: none;
}
.dotted-border {
        border-style: none;
}
.article-tit {
        border-style: none;
        font-size: 42px;
        margin: 0;
        padding: 0;
}
.main {
        width: 100%;
}
.side {
        position: relative;
        width: 280px;
        height: 100vh;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: auto;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}
.side:hover {
        opacity: 1;
}
.side li a {
        font-size: 15px;
        color: #4f5959
}
.side li a:active {
        font-size: 15px;
        color: #273849
}
.book-nav {
        padding-left: 20px
}
.float_view {
        display: none;
}
#footer {
        display: none;
}
#toTop {
        display: none;
}
ul {
        font-size: 18px;
        font-weight: 400;
        padding-inline-start: 40px;
        margin: 18px 36px 24px 0px;
}